#experience {
	background-color: $white-color;
	color: $dark-blue-text;
	margin-top: -10rem;
	padding-top: 15rem;

	@include respond(tab-land) {
		margin-top: 0;
		padding-top: 5rem;
	}

	.experience-wrapper {
		margin-bottom: 3rem;

		@include respond(phone) {
			margin-bottom: 0rem;
		}

		.row {
			margin-bottom: 8rem;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			box-shadow: 2px 5px hsla(0, 0%, 82.7%, 0.397);

			@include respond(phone) {
				margin-bottom: 4rem;
			}
		}

		&__text {
			text-align: left;
			margin-left: 1.5rem;
			margin-right: 1.5rem;

			@include respond(phone) {
				margin-bottom: 2.5rem !important;
			}
			@include respond(tab-land) {
				margin-bottom: 4.8rem;
			}

			&-title {
				font-weight: bold;
				margin-bottom: 1.8rem;
				font-size: $mid-font-size;

				@include respond(phone) {
					font-size: 1.75rem;
				}
			}

			.header {
				display: flex;
				justify-content: space-between;
			}

			&-position {
				font-weight: italics;
				margin-bottom: 1.8rem;
				font-size: $small-font-size;
				@include respond(phone) {
					font-size: 1.6rem;
				}
			}

			&-points {
				font-size: $points-font-size;
				@include respond(phone) {
					font-size: 1.6rem;
				}
			}

			& p > a {
				color: $secondary-color;
			}
		}

		&__image {
			display: inline-block;
			width: 10%;
			margin: 3rem 0px;
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
			border-radius: 50%;

			@include respond(tab-land) {
				width: 10%;
				margin-bottom: 3rem;
			}

			& .thumbnail {
				border: none;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				transition: all 0.2s ease-out;
				box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
				transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
					0.5s box-shadow,
					0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

				@include respond(phone) {
					border: 1px solid #d2d2d2;
					box-shadow: none;
					margin-bottom: 3.2rem;
				}
			}
		}
	}
}

// #experience {
// 	background-color: $white-color;
// 	color: $dark-blue-text;
// 	margin-top: -10rem;
// 	padding-top: 15rem;

// 	@include respond(tab-land) {
// 		margin-top: 0;
// 		padding-top: 5rem;
// 	}

// 	.experience-wrapper {
// 		margin-bottom: 10rem;

// 		@include respond(phone) {
// 			margin-bottom: 0rem;
// 		}

// 		.row {
// 			margin-bottom: 5rem;

// 			@include respond(phone) {
// 				margin-bottom: 4rem;
// 			}
// 		}

// 		&__text {
// 			text-align: left;

// 			@include respond(phone) {
// 				margin-bottom: 2.5rem !important;
// 			}
// 			@include respond(tab-land) {
// 				margin-bottom: 4.8rem;
// 			}

// 			&-title {
// 				font-weight: bold;
// 				margin-bottom: 1.8rem;
// 				font-size: $mid-font-size;
// 				text-align: right;

// 				@include respond(phone) {
// 					font-size: 2rem;
// 				}
// 			}

// 			&-position {
// 				font-weight: italics;
// 				margin-bottom: 1.8rem;
// 				font-size: $small-font-size;
// 				@include respond(phone) {
// 					font-size: 1.5rem;
// 				}
// 			}

// 			& p > a {
// 				color: $secondary-color;
// 			}
// 		}

// 		.header {
// 			display: flex;
// 			width: 1000px;
// 			justify-content: space-between;
// 		}

// &__image {
// 	width: 90%;
// 	margin: 0 auto;

// 	@include respond(tab-land) {
// 		width: 100%;
// 		margin: 0;
// 	}

// 	& .thumbnail {
// 		border: none;
// 		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
// 			0 3px 6px rgba(0, 0, 0, 0.23);
// 		transition: all 0.2s ease-out;
// 		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08),
// 			0 0 6px rgba(0, 0, 0, 0.05);
// 		transition: 0.5s transform
// 				cubic-bezier(0.155, 1.105, 0.295, 1.12),
// 			0.5s box-shadow,
// 			0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

// 		@include respond(phone) {
// 			border: 1px solid #d2d2d2;
// 			box-shadow: none;
// 			margin-bottom: 3.2rem;
// 		}
// 	}
// }
// 	}
// }
